.input1 {
    display: none;
}

.button1 {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #f2395a;
    border:1px solid #f2395a;
    color: #ffffff;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button1:before {
    position: absolute;
    top: 6px;
    left: 40px;
    right: auto;
    display: inline-block;
    height: 20px;
    padding: 0 3px;
    background-color: #ffffff;
    color: #f2395a;
    content: "off";
    transition: all 0.3s ease;
  }
  .input1:checked + .button1 {
    background-color: #00b3b4;
    border:1px solid #00b3b4;
  }
  .input1:checked + .button1:before {
    left: 5px;
    content: "on";
    color: #00b3b4;
  }

